$color-grey: #888;
$color-med-grey: #ccc;
$color-light-grey: #eee;


a, a:hover {
  text-decoration: none;
}

textarea {
  resize: none;
}

.post-container {
  width: 80%;
  margin: 50px auto; 
  border: 1px solid $color-med-grey;

  .new-post-button-section {
    text-align: right;
    padding: 20px;
  }

  .short-post-container {
    padding: 10px;
    margin: 10px;
    border: 1px solid $color-med-grey;

    .details {
      width: 93%;
      display: inline-block;

      .label-info {
        margin-left: 20px;
        padding: .2em;
      }

      .post-details {
        .post-time {
          float: right;
        }
      }
    }

    .icon {
      font-size: 35px;
      float: right;
    }

    a h2 {
      display: block;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      
    }
    
  }
  
  .post-details {
    color: $color-grey;
  }

  .full-post-container {
    padding: 20px;

    .bottom-button-section {
      display: none;
    }
  }

  .reply-section {
    padding: 20px;
    // margin-bottom: 50px;

    .reply-header {
      color: $color-grey;
    }

    .reply {
      border-bottom: 1px solid $color-med-grey;
      color: $color-grey;
      padding: 20px 0;

      .reply-text {
        color: black;
      }
    }

  }

  .reply-form {

    .reply-form-title {
      color: $color-grey;
    }

    .reply-form-fields {
      width: 70%;
      display: inline-block;
    }

    .reply-button {
      width: 30%;
      display: inline-block;
      text-align: center;

        button {
          width: 70%;
        }
    }
  }

  .post-title {
    &.list {
      font-size: 20px;
      margin: 0;
      padding-bottom: 10px;
    }
  }

  .page-title {
    color: $color-grey;
    padding-bottom: 10px;
    text-align: center;
  }

  .full-post {
    border-bottom: 1px solid $color-med-grey;    

    .post-title-container {
      .post-title {
        color: $color-grey;
        margin-top: 0;
        width: 75%;
        display: inline-block;
      }

      .top-back-button {
        float: right;
      }

    }


    .post-text {
      padding: 20px 0;
    }
  }

  .post-form {
    margin: auto;

    form {
      padding: 20px;
    }

    .new-post-button-section {
      padding: 20px 0 0;

      button.add-post {
        margin-left: 20px;
      }
    }

    .form-group {
      
      &.text-area {
        clear: left
      }
    }
  }
}

label {
  font-weight: normal;
  color: $color-grey;
}

.bold-text {
  color: black;
  font-weight: 500;
}



@media (max-width: 768px) {
  .post-container {
    width: 90%;
    margin: 20px auto;

    .new-post-button-section {
      text-align: center;
    }

    .short-post-container {
      .icon {
        display: none;
      }

      .details {
        width: 100%;

        .post-title {
          &.list {
            font-size: 15px;
          }
        }

        .post-details {
          font-size: 13px;
          .label-info {
            float: right;
          }

          .post-time {
            display: none;
          }
        }
      }
    }


    .reply-section .reply-header,
    .page-title, .post-title  {
      font-size: 20px;
    }

    .reply-form {
      .reply-form-fields, .reply-button {
        display: block;
        width: 100%;

        button {
          margin-top: 20px;
          width: 100%;
        }
      }
    }

    .post-form {
      .form-group {
        text-align: center;
      }

      .new-post-button-section {
        overflow: auto;

        button.cancel {
          float: left;
        }

        button.add-post {
          margin: 0;
          float: right;
        }

      }
    }

    .full-post-container {

      .full-post {
        .post-title-container {

          .post-title {
            width: 100%;
          }
          .top-back-button {
            display: none;
          }
        }
      }

      .bottom-button-section {
        display: block;
        text-align: center;

        .bottom-back-button {
          width: 100%;
        }
      }

    }

  }
}


