a, a:hover {
  text-decoration: none; }

textarea {
  resize: none; }

.initial-landing-message {
  min-height: 300px;
  text-align: center;
  padding-top: 50px; }

.post-container {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #ccc; }
  .post-container .new-post-button-section {
    text-align: right;
    padding: 20px; }
  .post-container .short-post-container {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc; }
    .post-container .short-post-container .details {
      width: 93%;
      display: inline-block; }
      .post-container .short-post-container .details .label-info {
        margin-left: 20px;
        padding: .2em; }
      .post-container .short-post-container .details .post-details .post-time {
        float: right; }
    .post-container .short-post-container .icon {
      font-size: 35px;
      float: right; }
    .post-container .short-post-container a h2 {
      display: block;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .post-container .post-details {
    color: #888; }
  .post-container .full-post-container {
    padding: 20px; }
    .post-container .full-post-container .bottom-button-section {
      display: none; }
  .post-container .reply-section {
    padding: 20px; }
    .post-container .reply-section .reply-header {
      color: #888; }
    .post-container .reply-section .reply {
      border-bottom: 1px solid #ccc;
      color: #888;
      padding: 20px 0; }
      .post-container .reply-section .reply .reply-text {
        color: black; }
  .post-container .reply-form .reply-form-title {
    color: #888; }
  .post-container .reply-form .reply-form-fields {
    width: 70%;
    display: inline-block; }
  .post-container .reply-form .reply-button {
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 60px; }
    .post-container .reply-form .reply-button button {
      width: 70%; }
  .post-container .post-title.list {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px; }
  .post-container .page-title {
    color: #888;
    padding-bottom: 10px;
    text-align: center; }
  .post-container .full-post {
    border-bottom: 1px solid #ccc; }
    .post-container .full-post .post-title-container .post-title {
      color: #888;
      margin-top: 0;
      width: 75%;
      display: inline-block; }
    .post-container .full-post .post-title-container .top-back-button {
      float: right; }
    .post-container .full-post .post-text {
      padding: 20px 0; }
  .post-container .post-form {
    margin: auto; }
    .post-container .post-form form {
      padding: 20px; }
    .post-container .post-form .new-post-button-section {
      padding: 40px 0 20px; }
      .post-container .post-form .new-post-button-section button.add-post {
        margin-left: 20px; }
    .post-container .post-form .form-group.text-area {
      clear: left; }

label {
  font-weight: normal;
  color: #888; }

.bold-text {
  color: black;
  font-weight: 500; }

@media (max-width: 768px) {
  .post-container {
    width: 90%;
    margin: 20px auto; }
    .post-container .new-post-button-section {
      text-align: center; }
    .post-container .short-post-container .icon {
      display: none; }
    .post-container .short-post-container .details {
      width: 100%; }
      .post-container .short-post-container .details .post-title.list {
        font-size: 15px; }
      .post-container .short-post-container .details .post-details {
        font-size: 13px; }
        .post-container .short-post-container .details .post-details .label-info {
          float: right; }
        .post-container .short-post-container .details .post-details .post-time {
          display: none; }
    .post-container .reply-section .reply-header,
    .post-container .page-title, .post-container .post-title {
      font-size: 20px; }
    .post-container .reply-form .reply-form-fields, .post-container .reply-form .reply-button {
      display: block;
      width: 100%;
      margin-top: 20px; }
      .post-container .reply-form .reply-form-fields button, .post-container .reply-form .reply-button button {
        width: 100%; }
    .post-container .post-form {
      text-align: center; }
      .post-container .post-form .form-group {
        text-align: center; }
      .post-container .post-form .new-post-button-section {
        overflow: auto; }
        .post-container .post-form .new-post-button-section button.cancel {
          float: left; }
        .post-container .post-form .new-post-button-section button.add-post {
          margin: 0;
          float: right; }
    .post-container .full-post-container .full-post .post-title-container .post-title {
      width: 100%; }
    .post-container .full-post-container .full-post .post-title-container .top-back-button {
      display: none; }
    .post-container .full-post-container .bottom-button-section {
      display: block;
      text-align: center; }
      .post-container .full-post-container .bottom-button-section .bottom-back-button {
        width: 100%; } }
