a, a:hover {
  text-decoration: none; }

nav {
  margin-bottom: 20px; }
  nav.nav {
    display: inline-block; }

.nav-title {
  float: left;
  padding: 0 20px;
  font-size: 25px;
  color: #888; }

.nav-tabs li a {
  border-style: none;
  border-radius: 0; }
  .nav-tabs li a.active {
    background-color: #eee; }

.post-container {
  width: 85%;
  margin: auto; }
  .post-container .post-details {
    color: #888; }
    .post-container .post-details .post-author {
      color: black;
      font-weight: 500; }
  .post-container .post-title {
    font-size: 20px; }
  .post-container .full-post .post-title {
    color: #888; }
  .post-container .full-post .post-text {
    padding: 20px 0; }
