$color-grey: #888;

a, a:hover {
  text-decoration: none;
}

nav {
  margin-bottom: 20px;

  &.nav {
    display: inline-block;
  }
}

.nav-title {
  float: left;
  padding: 0 20px;
  font-size: 25px;
  color: $color-grey;
}

.nav-tabs li a {
  border-style: none;
  border-radius: 0;

  &.active {
    background-color: #eee;
  }
}

.post-container {
  width: 85%;
  margin: auto;
  
  .post-details {
    color: $color-grey;

    .post-author {
      color: black;
      font-weight: 500;
    }
  }

  .post-title {
    font-size: 20px;
  }
  .full-post {
    .post-title {
      color: $color-grey;
    }

    .post-text {
      padding: 20px 0;
    }
  }
}



