$color-grey: #888;
$color-med-grey: #ccc;
$color-light-grey: #eee;


a, a:hover {
  text-decoration: none;
}

nav {
  margin-bottom: 20px;

  &.nav {
    display: inline-block;
  }
}

textarea {
  resize: none;
}

.nav-title {
  float: left;
  padding: 0 20px;
  font-size: 25px;

  a {
    color: $color-grey;
    text-decoration: none;
  }
}

.nav-tabs li a {
  border-style: none;
  border-radius: 0;

  &.active {
    background-color: $color-light-grey;
  }
}

.post-container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;  
  
  .post-details {
    color: $color-grey;
  }

  .reply-section {
    background: $color-light-grey;
    padding: 20px;
    margin-bottom: 50px;

    .reply-header {
      color: $color-grey;
    }

    .reply {
      border-bottom: 1px solid $color-med-grey;
      color: $color-grey;
      padding: 20px 0;

      .reply-text {
        color: black;
      }
    }

    .reply-form {
      width: 500px;
      margin-bottom: 50px;

      .reply-form-title {
        color: $color-grey;
      }
    }
  }

  .post-title, .page-title {
    font-size: 20px;
  }

  .page-title {
    color: $color-grey;
    padding-bottom: 10px;
  }

  .full-post {

    .post-title {
      color: $color-grey;
    }

    .post-text {
      padding: 20px 0 40px;
    }
  }

  .post-form {
    width: 70%;
    margin: auto;

    .form-group {

      
      &.short-field {
        float: left;
        margin-right: 10px;
        width: 40%;
      }
      
      &.text-area {
        clear: left
      }
    }
  }
}

label {
  font-weight: normal;
  color: $color-grey;
}

.bold-text {
  color: black;
  font-weight: 500;
}



@media (max-width: 768px) {
  .post-container {
    width: 90%;

    .reply-section .reply-header, .post-title,
    .page-title  {
      font-size:17px;
    }

    .reply-section .reply-form, .post-form {
      width: 90%;
      margin: auto;
    }

    .post-form {
      .form-group {
        &.short-field {
          float: none;
          margin-right: 0;
          width: 100%
        }

      }
    }
  }
}


